@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
  
@font-face {
    font-family: 'OpenSans';
    font-weight: 900;
    src: local('OpenSans'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

* {
    font-family: OpenSans, Arial;
}