.admin-create-body {
    border-radius: 10px;
    background-color: white;
    min-height: 600px;
    padding: 48px;
    
}

.admin-create-body-wrapper {
    border: solid 80px #380867;
    background-color: #380867;
}

.add-element {
    margin-top: 16px;
}

.admin-save-button {
    text-decoration: none;
}

.save-and-return {
    margin-top: 48px;
}

@media (max-width: 1280px) {
    .admin-create-body-wrapper {
        border: solid 40px #380867;
    }
}
