.navbar-name {
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    color: #414143;
}

.navbar-name:hover {
    color: #009131;
}

.navbar-logo {
    width: 160px;
}

#logo-link {
    display: inline-block;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    align-items: center;
    margin-bottom: 12px;
}

@media (max-width: 1280px) {
    .navbar-logo {
        width: 125px;
    }
    .navbar-name {
        font-size: 1.5rem;
    }
}
