.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    min-height: 725px;
}

.selection-bg {
    /* width: 100%; */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/infant-school-teacher-showing-a-book-to-a-group-of-ZXR9KNF.JPG');
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* min-height: 600px; */
}

* {
    margin: 0px
}

.program-select-button {
    text-decoration: none;
}

.login-box {
    min-height: 800px;
}
.account-settings-body {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-account-body {
    min-height: 850px;
}
.manage-accounts-body {
    background-color: #FAF9F6;
    min-height: 850px;
}
.edit-admin-body {
    background-color: #FAF9F6;
    min-height: 850px;
}
.delete-account-body {
    background-color: #FAF9F6;
    min-height: 850px;
}

@media (max-width: 1280px) {
    .selection {
        min-height: 1920px;
    }
    .login-box {
        min-height: 1950px;
    }
    .account-settings-body {
        min-height: 2000px;
    }
    .create-account-body {
        min-height: 2000px;
    }
    .manage-accounts-body {
        min-height: 2000px;
    }
    .edit-admin-body {
        min-height: 2000px;
    }
    .delete-account-body {
        min-height: 2000px;
    }
}

