.delete-button {
    position: relative;
    left: 3%;
}

.text-input {
    margin-top: 64px;
}

.text-input > * {
    margin-top: 8px;
}

.text-input-options {
    display: flex;
    justify-content: space-between;
}